<h1> Admin Dashboard</h1>

<%=link_to "Change roles"%><br>
<%=link_to "Add new categories"%><br>
<h4>Current users</h4>
<strong><% @users.each do |u| %>
<%= u.email %> as
<%= u.roles.first.name %></strong><br>
<% end %>
<h4>Current users</h4>
<strong><% @categories.each do |c| %>
<%= c.name %>

<% end %><br>