  <h1> Admin Dashboard</h1>
  <% if can? :create, @category %>
   <%=link_to "Change roles"%><br>
   <%=link_to "Add new categories", new_category_path %><br>
  <% end %>

  <section>
   <h4>Current users</h4>
    <strong>
     <% @users.each do |u| %>
    	 <%= u.email %> as
    	 <!-- check if the roles exstis -->
    	 <% if u.roles.present? %>
    	   <%= u.roles.first.name %></strong>
    	   <% else %>
    	   <%# flash[:msg] = "roles not defined for #{u.email}" %>
    	  <% end %>
        
        <%= link_to "Change roles",edit_rating_path(u) %>
        <br>
     <% end %>    
  </section>

  <h4>Categories</h4>
  <% @categories.each do |c| %>
   
   <section>
   	 <%= c.name %>
     <% if can? [:edit, :delete], [@category,@category] %>
   	   <%= link_to "EDIT",edit_category_path(c) %>
   	   <%= link_to "DELETE", category_path(c), method: :delete, data: { confirm: 'Are you sure?' }  %>
    <% end %>
   </section>
   <br>
<% end %>