<!DOCTYPE html>
<html>
<head>
  <title>Srs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'ratings/header' %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if flash[:msg] %>
  <p class="alert alert-success"><%= flash[:msg ] %></p>
<% end %>

<%= yield %>
<% if user_signed_in? %> 
      <br> 
      Logged in as <strong><%= current_user.email%></strong> as
      <%#binding.pry%>
      <% if current_user.roles.present? %> 
      <strong><%= current_user.roles.first.name %></strong>      
      <% else %>
      guest
      <% end %>
     <%= link_to "sign out",destroy_user_session_path, method: :delete   %>
 <% end %>
 <br>
</body>
</html>
